@use '../../../styles/variables' as v;

.currency-section {
  background-color: v.$color;
  color: v.$color-primary;
  height: 35vh;
  overflow: auto;
  padding: 0;
  li {
    border-top: 1px solid v.$color-bg;
    width: 100%;
    cursor: pointer;
    transition: ease-in-out 1s;
    &:hover {
      background-color: v.$color-bg;
      opacity: 1;
      transition: ease-in-out 0.2s;
    }
  }
  h2,
  li {
    padding: 1rem;
  }
}
